{{ 'component-gallery.css' | asset_url | stylesheet_tag }}
{{ 'modal.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<div class="gallery">
    <div class="{% if section.settings.full_width == false %} page-width{%endif%}">
        {% if section.settings.heading or section.settings.subheading %}
            <div class="section__heading margin-bottom-lg {{ section.settings.header_alignment }}">
                {% if section.settings.heading %}
                    <h2 class="h1">{{ section.settings.heading }}</h2>
                {% endif %}
                {% if section.settings.subheading %}
                    <h3 class="h2">{{ section.settings.subheading }}</h3>
                {% endif %}
            </div>
        {% endif %}
        <slider-component>
            {%- liquid 
                for block in section.blocks 
                    assign highest_ratio = 0
                    if block.settings.image.aspect_ratio > highest_ratio
                        assign highest_ratio = block.settings.image.aspect_ratio
                    endif
                endfor    
            -%}
            {%- assign grid_gap = section.settings.grid_gap | divided_by: 10.0 | append: 'rem' -%}
            <ul class="gallery__container {{ section.settings.layout }} {% if section.blocks.size < 4 %} col-3 {% endif %} {% if section.blocks.size < 3 %} col-2{% endif %}{% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}">
                {% style %} 
                    #shopify-section-{{ section.id }} .gallery__container {
                        gap: {{ grid_gap }};
                    }

                    #shopify-section-{{ section.id }} .gallery__item,
                    #shopify-section-{{ section.id }} .gallery__figcaption-heading,
                    #shopify-section-{{ section.id }} .gallery__figcaption svg {
                        color: {{ section.settings.text_color }};
                    }

                    #shopify-section-{{ section.id }} .gallery__figcaption {
                        background: rgba({{ section.settings.background_color.red }}, {{ section.settings.background_color.green }}, {{ section.settings.background_color.blue }}, {{ section.settings.opacity }});
                    }

                    #shopify-section-{{ section.id }} .gallery__figure button.modal__toggle-no-fig {
                        background: rgba({{ section.settings.background_color.red }}, {{ section.settings.background_color.green }}, {{ section.settings.background_color.blue }}, 0.3);
                    }

                    #shopify-section-{{ section.id }} .gallery__video-content {
                        color: {{ section.settings.background_color }};
                    }
                    
                    
                {% endstyle %}
                {% for block in section.blocks %}
                    <li id="gallery__item--{{ forloop.index }}" class="gallery__item gallery__item--{{ section.settings.height }}{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}">
                        {% case block.type %}
                            {% when 'image' %}
                                <figure class="gallery__figure" {{ block.shopify_attributes }}>
                                    <div class="media media--{{ section.settings.image_height }}"
                                        {% if section.settings.image_height == 'adapt' %}
                                            style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%"
                                        {% endif %}>
                                        {% if block.settings.image != blank %}
                                            <img srcset="{%- if block.settings.collection.image.width >= 165 -%}{{ block.settings.collection.image | img_url: '165x' }} 165w,{%- endif -%}
                                                {%- if block.settings.image.width >= 330 -%}{{ block.settings.image | img_url: '330x' }} 330w,{%- endif -%}
                                                {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                                                {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                                                {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | img_url: '940x' }} 940w,{%- endif -%}
                                                {%- if block.settings.image.width >= 1440 -%}{{ block.settings.image | img_url: '1440x' }} 1440w,{%- endif -%}
                                                {%- if block.settings.image.width >= 1880 -%}{{ block.settings.image | img_url: '1880x' }} 1880w{%- endif -%}"
                                                src="{{ block.settings.image | img_url: '553x' }}" 
                                                alt="{{ block.settings.collection.title | escape }}"
                                                height="{{ block.settings.image.height }}"
                                                width="{{ block.settings.image.width }}"
                                                loading="lazy"
                                                class="image {{ block.settings.object_fit }}"
                                            >
                                        {% else %}
                                            {{ 'image' | placeholder_svg_tag: 'image placeholder' }}
                                        {% endif %}
                                    </div>
                                    {% if block.settings.text != blank and block.settings.show_caption != false %}
                                        <figcaption class="gallery__figcaption hover-disable{% if block.settings.show_modal %} gallery__figcaption--modal {% endif %}" {% if block.settings.show_overlay == false %} aria-hidden="true" {% endif %}>
                                            {{ block.settings.text }}
                                            {% if block.settings.show_modal %}
                                                <modal-opener class="no-js-hidden" data-modal="#PopupModal-{{ block.id }}">
                                                    <button type="button" type="button" aria-controls="PopupModal-{{ block.id }}" aria-expanded="false" aria-haspopup="dialog">
                                                        {% render 'icon-expand' %}
                                                    </button>
                                                </modal-opener>
                                                
                                            {% endif %}
                                        </figcaption>  
                                    {% else %}
                                        {% if block.settings.show_modal %}
                                        <modal-opener class="no-js-hidden" data-modal="#PopupModal-{{ block.id }}">
                                            <button class="modal__toggle-no-fig" type="button" aria-controls="PopupModal-{{ block.id }}" aria-expanded="false" aria-haspopup="dialog">
                                                {% render 'icon-expand' %}
                                            </button>
                                        </modal-opener>
                                        {% endif %} 
                                    {% endif %} 
                                </figure>
                                {% if block.settings.show_modal %}
                                    <modal-dialog id="PopupModal-{{ block.id }}" class="modal__container" >
                                        <div class="modal__content" aria-label="{{ block.settings.description | escape }}"role="dialog" aria-modal="true" tabindex="-1">
                                            <button id="ModalClose-{{ block.id }}" type="button" class="modal__close" aria-label="{{ 'accessibility.close' | t }}">
                                                {% render 'icon-close' %}
                                            </button>
                                            <div class="modal__backdrop"></div>
                                            <div class="modal__outer">
                                                <div class="modal__inner">
                                                    {% if block.settings.image != blank %}
                                                        <img srcset="{%- if block.settings.collection.image.width >= 165 -%}{{ block.settings.collection.image | img_url: '165x' }} 165w,{%- endif -%}
                                                        {%- if block.settings.image.width >= 330 -%}{{ block.settings.image | img_url: '330x' }} 330w,{%- endif -%}
                                                        {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                                                        {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                                                        {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | img_url: '940x' }} 940w,{%- endif -%}
                                                        {%- if block.settings.image.width >= 1440 -%}{{ block.settings.image | img_url: '1440x' }} 1440w,{%- endif -%}
                                                        {%- if block.settings.image.width >= 1880 -%}{{ block.settings.image | img_url: '1880x' }} 1880w{%- endif -%}"
                                                        src="{{ block.settings.image | img_url: '553x' }}" 
                                                        alt="{{ block.settings.collection.title | escape }}"
                                                        height="{{ block.settings.image.height }}"
                                                        width="{{ block.settings.image.width }}"
                                                        loading="lazy"
                                                        class="image {{ block.settings.object_fit }}"
                                                    >
                                                    {% else %}
                                                        {{ 'image' | placeholder_svg_tag: 'image' }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </modal-dialog>    
                                {% endif %}
                            {% when 'video' %}
                                <div class="gallery__video" {{ block.shopify_attributes }}>
                                    <modal-opener class="no-js-hidden" data-modal="#PopupModal-{{ block.id }}">
                                        <div class="deferred-media">
                                            <button class="gallery__video-content media media--{{ section.settings.image_height }} full-unstyled-link"
                                            {% if section.settings.image_height == 'adapt' %}
                                                style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%"
                                            {% endif %} type="button" aria-haspopup="dialog" aria-controls="PopupModal-{{ block.id }}" aria-expanded="false" data-media-id="{{ block.settings.video_url.id }}">
                                                <span class="gallery__video-button motion-reduce">
                                                    {%- render 'icon-play' -%}
                                                </span>
                                                {%- if block.settings.cover_image != blank -%}
                                                    <img
                                                    srcset="{%- if block.settings.cover_image.width >= 500 -%}{{ block.settings.cover_image | img_url: '500x' }} 500w,{%- endif -%}
                                                    {%- if block.settings.cover_image.width >= 730 -%}{{ block.settings.cover_image | img_url: '730x' }} 730w,{%- endif -%}
                                                    {%- if block.settings.cover_image.width >= 1440 -%}{{ block.settings.cover_image | img_url: '1440x' }} 1440w,{%- endif -%}
                                                    {%- if block.settings.cover_image.width >= 990 -%}{{ block.settings.cover_image | img_url: '990x' }} 990w,{%- endif -%}
                                                    {%- if block.settings.cover_image.width >= 2080 -%}{{ block.settings.cover_image | img_url: '2080x' }} 2080w{%- endif -%}"
                                                    src="{{ block.settings.cover_image | img_url: '533x' }}"
                                                    sizes="(min-width: 990px){% if section.blocks.size == 1 %} 990px{% else %} 730px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else%} 500px{% endif %}, calc(100vw - 30px)"
                                                    alt="{{ block.settings.description | escape }}"
                                                    loading="lazy"
                                                    width="{{ block.settings.cover_image.width }}"
                                                    height="{{ block.settings.cover_image.height }}"
                                                    class="image cover"
                                                    >
                                                {%- else -%}
                                                    {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder image cover' }}
                                                {%- endif -%}
                                            </button>
                                            
                                        </div>
                                    </modal-opener>
                                    <modal-dialog id="PopupModal-{{ block.id }}" class="modal__container" >
                                        <div class="modal__content" role="dialog" aria-label="{{ block.settings.description | escape }}" aria-modal="true" tabindex="-1">
                                            <button id="ModalClose-{{ block.id }}" type="button" class="modal__close" aria-label="close" aria-hidden="true">
                                                {% render 'icon-close' %}
                                            </button>
                                            <div class="modal__backdrop"></div>
                                            <div class="modal__outer video">
                                                <div class="modal__inner">
                                                    <deferred-media class="gallery-video__modal template-popup">
                                                        <template>
                                                            {%- if block.settings.video_url.type == 'youtube' -%}
                                                                <iframe src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.description | escape }}"></iframe>
                                                            {%- else -%}
                                                                <iframe src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.description | escape }}"></iframe>
                                                            {%- endif -%}
                                                        </template>
                                                    </deferred-media>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </modal-dialog>
                                    
                                </div>
                        {% endcase %}
                    </li>
                {% endfor %}
            </ul>
            {%- if section.settings.swipe_on_mobile -%}
                <div class="slider-buttons no-js-hidden medium-hide{% if section.blocks.size < 2 %} small-hide{% endif %}">
                <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                <div class="slider-counter caption">
                    <span class="slider-counter--current">1</span>
                    <span aria-hidden="true"> / </span>
                    <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                    <span class="slider-counter--total">{{ section.blocks.size }}</span>
                </div>
                <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
                </div>
            {%- endif -%}
        </slider-component>

    </div>
</div>

{% schema %}
{
    "name": "t:sections.multimedia-gallery.name",
    "class": "spaced-section spaced-section--full-width",
    "settings" : [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Sub heading",
            "default": "Sub Heading"
        },
        {
            "type": "select",
            "id": "header_alignment",
            "label": "Header alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "center"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Grid layout",
            "options": [
                {
                    "value": "col-2",
                    "label": "Two columns"
                }, 
                {
                    "value": "col-3",
                    "label": "Three columns"
                },
                {
                    "value": "col-4",
                    "label": "Four columns"
                },
                {
                    "value": "grid-layout-one",
                    "label": "Grid layout one"
                },
                {
                    "value": "grid-layout-two",
                    "label": "Grid layout two"
                },
                {
                    "value": "grid-layout-three",
                    "label": "Grid layout three"
                }
            ],
            "default": "col-4"
        },
        {
            "type": "range",
            "id": "grid_gap",
            "label": "Grid gap",
            "min": 0,
            "max": 100,
            "step": 5,
            "default": 0,
            "unit": "px"
        },
        {
            "type": "checkbox",
            "id": "full_width",
            "label": "Full width",
            "info": "Enable gallery to stretch to full width of page",
            "default": true
        },
        {
            "type": "select",
            "id": "image_height",
            "label": "Image ratio",
            "options": [
                {
                    "value": "adapt",
                    "label": "Adapt to image"
                },
                {
                    "value": "square",
                    "label": "Square"
                },
                {
                    "value": "portrait",
                    "label": "Portrait"
                },
                {
                    "value": "cropped",
                    "label":  "Cropped"
                },
                {
                    "value": "landscape",
                    "label": "Landscape"
                }
            ],
            "default": "square"
        },
        {
            "type": "header",
            "content": "Overlay styling",
            "info" : "Control the styling of the overlay on hover if present"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Overlay text color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Overlay background color",
            "default": "#889EAF"
        },
        {
            "type": "range",
            "id": "opacity",
            "label": "Overlay background opacity",
            "default": 0.8,
            "min": 0,
            "max": 1,
            "step": 0.1
        },
        {
            "type": "checkbox",
            "id": "swipe_on_mobile",
            "default": true,
            "label": "t:sections.multimedia-gallery.settings.swipe_on_mobile.label"
        },
        {
            "type": "checkbox",
            "id": "toggle_animation",
            "label": "t:sections.multimedia-gallery.settings.show_animation.label",
            "default": true
        },
        {
            "type": "select",
            "id": "animation_type",
            "options": [
                {
                    "value": "fade-in",
                    "label": "t:sections.multimedia-gallery.settings.animation_type.options.options__1.label"
                },
                {
                    "value": "flip-horizontal-bottom",
                    "label": "t:sections.multimedia-gallery.settings.animation_type.options.options__2.label"
                },
                {
                    "value": "flip-in-hor-bottom",
                    "label": "t:sections.multimedia-gallery.settings.animation_type.options.options__3.label"
                },
                {
                    "value": "flip-2-hor-top-1",
                    "label": "t:sections.multimedia-gallery.settings.animation_type.options.options__4.label"
                },
                {
                    "value": "flip-in-ver-left",
                    "label": "t:sections.multimedia-gallery.settings.animation_type.options.options__5.label"
                },
                {
                    "value": "puff-in-center",
                    "label": "t:sections.multimedia-gallery.settings.animation_type.options.options__6.label"
                },
                {
                    "value": "rotate-in-2-cw",
                    "label": "t:sections.multimedia-gallery.settings.animation_type.options.options__7.label"
                },
                {
                    "value": "scale-in-center",
                    "label": "t:sections.multimedia-gallery.settings.animation_type.options.options__8.label"
                },
                {
                    "value": "scale-up-center",
                    "label": "t:sections.multimedia-gallery.settings.animation_type.options.options__9.label"
                },
                {
                    "value": "slide-in-elliptic-top-fwd",
                    "label": "t:sections.multimedia-gallery.settings.animation_type.options.options__10.label"
                },
                {
                    "value": "slide-top",
                    "label": "t:sections.multimedia-gallery.settings.animation_type.options.options__11.label"
                }
            ],
            "label": "t:sections.multimedia-gallery.settings.animation_type.label",
            "info": "t:sections.multimedia-gallery.settings.animation_type.info"
        },
        {
            "type": "range",
            "id": "animation_length",
            "label": "Animation length",
            "min": 0,
            "max": 5,
            "step": 0.1,
            "default": 0.5,
            "unit": "s"
        },
        {
            "type": "range",
            "id": "animation_delay",
            "label": "Animation delay",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "default": 0.2,
            "unit": "s"
        }
          
    ],
    "blocks": [
        {
            "name": "Image",
            "type": "image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "checkbox",
                    "id": "show_modal",
                    "label": "Show modal on click",
                    "default": true
                },
                {
                    "type": "select",
                    "id": "object_fit",
                    "label": "Image fit",
                    "options": [
                        {
                            "value": "contain",
                            "label": "Contain"
                        },
                        {
                            "value": "cover",
                            "label": "Cover"
                        }
                    ],
                    "default": "cover"
                },
                {
                    "type": "checkbox",
                    "id": "show_caption",
                    "label": "Show caption over image",
                    "default": false
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Overlay text",
                    "default": "<p>Add a caption to an image to explain and ellaborate on your choosen image.</p>"
                }
            ]
        },
        {
            "type": "video",
            "name": "t:sections.collage.blocks.video.name",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "cover_image",
                    "label": "t:sections.collage.blocks.video.settings.cover_image.label"
                },
                {
                    "type": "video_url",
                    "id": "video_url",
                    "accept": [
                        "youtube",
                        "vimeo"
                    ],
                    "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
                    "label": "t:sections.collage.blocks.video.settings.video_url.label",
                    "placeholder": "t:sections.collage.blocks.video.settings.video_url.placeholder"
                },
                {
                    "type": "text",
                    "id": "description",
                    "default": "Describe the video for customers using screen readers",
                    "label": "Video alt text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Multimedia gallery",
            "blocks": [
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                }
            ]
        }
    ]
}
{% endschema %}