{{ 'component-multicolumn-image-with-text.css' | asset_url | stylesheet_tag}}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>



<div class="page-width">
    <div class="multicolumn-image__container">
        {% if section.settings.heading or section.settings.subheading %}
            <div class="section__heading margin-bottom-lg {{ section.settings.header_alignment }}">
                {% if section.settings.heading %}
                    <h2 class="h1">{{ section.settings.heading }}</h2>
                {% endif %}
                {% if section.settings.subheading %}
                    <h3 class="h2">{{ section.settings.subheading }}</h3>
                {% endif %}
            </div>
        {% endif %}
        <slider-component>
            {%- liquid
                assign highest_ratio = 0
                for block in section.blocks
                    if block.settings.image.aspect_ratio > highest_ratio
                    assign highest_ratio = block.settings.image.aspect_ratio
                    endif
                endfor
                -%}
            <ul class="multicolumn-image__columns {% if section.blocks.size > 3 %} grid--4-columns grid--2-col-tablet {% endif %} {% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %} %">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when "column" %}
                        <li class="multicolumn-image__column{% if section.settings.swipe_on_mobile %} slider__slide{% endif %} {{ section.settings.column_alignment }}" {{ block.shopify_attributes }}>
                            <a class="multicolumn-image__column-inner" {% if block.settings.image_link != blank %} href="{{ block.settings.image_link }}" {% endif %}>
                                {% if block.settings.image != blank %}
                                    {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                                        {% assign spaced_image = true %}
                                    {% endif %}
                                    <div class="multicolumn-image__image-wrapper multicolumn-image__image-wrapper--{{ section.settings.image_width}}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
                                        <div class="media media--transparent media--{{ section.settings.image_ratio }}" 
                                            {% if section.settings.image_ratio == 'adapt' %}
                                                style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                                            {% endif %}>
                                            <img srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.collection.image | img_url: '165x' }} 165w,{%- endif -%}
                                                {%- if block.settings.image.width >= 330 -%}{{ block.settings.image | img_url: '330x' }} 330w,{%- endif -%}
                                                {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                                                {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                                                {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | img_url: '940x' }} 940w,{%- endif -%}
                                                {%- if block.settings.image.width >= 1440 -%}{{ block.settings.image | img_url: '1440x' }} 1440w,{%- endif -%}
                                                {%- if block.settings.image.width >= 1880 -%}{{ block.settings.image | img_url: '1880x' }} 1880w{%- endif -%}"
                                                src="{{ block.settings.image | img_url: '553x' }}" 
                                                alt="{{ block.settings.collection.title | escape }}"
                                                height="{{ block.settings.image.height }}"
                                                width="{{ block.settings.image.width }}"
                                                loading="lazy"
                                                class="image {{ block.settings.object_fit }}"
                                            >
                                        </div>
                                    </div>
                                {% endif %}
                                {% if block.settings.heading != blank or block.settings.text != blank %}
                                    <div class="multicolumn-image__content">
                                        {% if block.settings.heading != blank %}
                                            <h2 class="multicolumn-image__content-heading h2">{{ block.settings.heading }}</h2>
                                        {% endif %}
                                        {% if block.settings.text != blank %}
                                            {{ block.settings.text }}
                                        {% endif %}
                                    </div>   
                                {% endif %}
                            </a>
                        </li>
                    {% endcase %}
                {% endfor %}
            </ul>

            {%- if section.settings.swipe_on_mobile -%}
                <div class="slider-buttons no-js-hidden medium-hide{% if section.blocks.size < 2 %} small-hide{% endif %}">
                <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                <div class="slider-counter caption">
                    <span class="slider-counter--current">1</span>
                    <span aria-hidden="true"> / </span>
                    <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                    <span class="slider-counter--total">{{ section.blocks.size }}</span>
                </div>
                <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
                </div>
            {%- endif -%}
        </slider-component>
    </div>
</div>

{% schema %}
{
    "name": "Multicolumn image text",
    "class": "spaced-section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Sub heading",
            "default": "Sub Heading"
        },
        {
            "type": "select",
            "id": "header_alignment",
            "label": "Header alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "center"
        },
        {
            "type": "checkbox",
            "id": "swipe_on_mobile",
            "label": "Swipe on mobile",
            "default": true
        },
        {
            "type": "select",
            "id": "image_width",
            "options": [
              {
                "value": "third",
                "label": "t:sections.multicolumn.settings.image_width.options__1.label"
              },
              {
                "value": "half",
                "label": "t:sections.multicolumn.settings.image_width.options__2.label"
              },
              {
                "value": "two-thirds",
                "label": "t:sections.multicolumn.settings.image_width.options__3.label"
              },
              {
                "value": "four-fifths",
                "label": "t:sections.multicolumn.settings.image_width.options__4.label"
              },
              {
                "value": "full",
                "label": "t:sections.multicolumn.settings.image_width.options__5.label"
              }
            ],
            "default": "full",
            "label": "t:sections.multicolumn.settings.image_width.label"
          },
          {
            "type": "select",
            "id": "image_ratio",
            "options": [
              {
                "value": "adapt",
                "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
              },
              {
                "value": "portrait",
                "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
              },
              {
                "value": "square",
                "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
              },
              {
                "value": "circle",
                "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
              }
            ],
            "default": "adapt",
            "label": "t:sections.multicolumn.settings.image_ratio.label"
          },
          {
            "type": "select",
            "id": "column_alignment",
            "options": [
              {
                "value": "left",
                "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
              },
              {
                "value": "center",
                "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
              },
              {
                  "value": "right",
                  "label": "t:sections.multicolumn.settings.column_alignment.options_3.label"
              }
            ],
            "default": "left",
            "label": "t:sections.multicolumn.settings.column_alignment.label"
          }
    ],
    "blocks": [
        {
            "name": "Column",
            "type": "column",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "default": "Image with text",
                    "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
                    "label": "t:sections.image-with-text.blocks.text.settings.text.label"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "range",
                    "id": "image_size",
                    "label": "Image size",
                    "min": 5,
                    "max": 100,
                    "step": 5,
                    "default": 60,
                    "unit": "%"
                },
                {
                    "type": "url",
                    "id": "image_link",
                    "label": "Image link"
                },
                {
                    "type": "select",
                    "id": "object_fit",
                    "label": "Image fit",
                    "options": [
                        {
                            "value": "contain",
                            "label": "Contain"
                        },
                        {
                            "value": "cover",
                            "label": "Cover"
                        }
                    ],
                    "default": "cover"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Multicolumn image with text",
            "blocks": [
                {
                    "type": "column"
                },
                {
                    "type": "column"
                },
                {
                    "type": "column"
                }
            ]
        }
    ]
}
{% endschema %}