{{ 'component-multicolumn-card.css' | asset_url | stylesheet_tag}}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<div class="multicolumn-card margin-vertical-lg">
    <div class="page-width">
        <h2 class="h1 margin-bottom-sm center">{{ section.settings.heading }}</h2>
        <div class="section-description center">
            {{ section.settings.description }}
        </div>
        <slider-component>
            <ul class="multicolumn-card__container margin-top-xl{% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'card' %}
                            <li class="card{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}">
                                <div class="card__image-container">
                                    {% if block.settings.image != blank %}
                                    <img srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.collection.image | img_url: '165x' }} 165w,{%- endif -%}
                                        {%- if block.settings.image.width >= 330 -%}{{ block.settings.image | img_url: '330x' }} 330w,{%- endif -%}
                                        {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                                        {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                                        {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | img_url: '940x' }} 940w,{%- endif -%}
                                        {%- if block.settings.image.width >= 1440 -%}{{ block.settings.image | img_url: '1440x' }} 1440w,{%- endif -%}
                                        {%- if block.settings.image.width >= 1880 -%}{{ block.settings.image | img_url: '1880x' }} 1880w{%- endif -%}"
                                        src="{{ block.settings.image | img_url: '553x' }}" 
                                        alt="{{ block.settings.collection.title | escape }}"
                                        height="{{ block.settings.image.height }}"
                                        width="{{ block.settings.image.width }}"
                                        loading="lazy"
                                        class="image cover"
                                    >
                                {% else %}
                                    {{ 'lifestyle-1' | placeholder_svg_tag: "card__image placeholder" }}
                                {% endif %}
                                </div>
                                <div class="card__main">
                                    <div class="card__header" style="background-color: {{ block.settings.background }};">
                                        <h2>{{ block.settings.heading }}</h2    >
                                    </div>
                                    <div class="card__content">
                                        {{ block.settings.description }}
                                    </div>
                                </div>
                            </li>
                    {% endcase %}
                {% endfor %}
            </ul>
            {%- if section.settings.swipe_on_mobile -%}
            <div class="slider-buttons no-js-hidden medium-hide{% if section.blocks.size < 2 %} small-hide{% endif %}">
                <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                <div class="slider-counter caption">
                    <span class="slider-counter--current">1</span>
                    <span aria-hidden="true"> / </span>
                    <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                    <span class="slider-counter--total">{{ section.blocks.size }}</span>
                </div>
                <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
            </div>
        </slider-component>
        {%- endif -%}
    </div>
</div>


{% schema %}
{
    "name": "Multicolumn Card",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>"
        },
        {
            "type": "checkbox",
            "id": "swipe_on_mobile",
            "label": "Swipe on mobile",
            "default": true
        }
    ],
    "blocks": [
        {
            "name": "Card",
            "type": "card",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Name"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                    "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "color",
                    "id": "background",
                    "label": "Background",
                    "default": "#fff"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Multicolumn card",
            "blocks": [
                {
                    "type": "card"
                },
                {
                    "type": "card"
                },
                {
                    "type": "card"
                }
            ]
        }
    ]
}
{% endschema %}